body {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
    background-color: #2980b9;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    font-family: "Unica One", Arial, Helvetica, sans-serif;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666
}

/*Every other li*/
li:nth-child(2n) {
    background: #f7f7f7
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    background-color: #f7f7f7;
    font-size: 18px;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

span {
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    opacity: 0;
    transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

#container {
    background-color: #f7f7f7;
    margin: 75px auto;
    width: 360px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus-square {
    float: right;
    transition: .3s;
}

.fa-plus-square:hover {
    transition: .3s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
